{% extends 'base.html.twig' %}

{% block title %}New ClothingItem{% endblock %}

{% block body %}
    <h1>Create new ClothingItem</h1>

    {{ include('clothing_item/_form.html.twig') }}

    <a href="{{ path('app_clothing_item_index') }}">back to list</a>
{% endblock %}
