<?xml version="1.0" encoding="UTF-8"?>

<ruleset name="PSR-12">
	<description>PSR-12 Coding Standard</description>
	<arg value="-colors" />
	<arg value="s" />
	<arg value="p" />
	<rule ref="PSR12" />

	<file>src/</file>
	<rule ref="Generic.Files.LineLength">
		<severity>0</severity>
	</rule>
</ruleset>
