{% extends 'base.html.twig' %}

{% block title %}New OutfitItem{% endblock %}

{% block body %}
    <h1>Create new OutfitItem</h1>

    {{ include('outfit_item/_form.html.twig') }}

    <a href="{{ path('app_outfit_item_index') }}">back to list</a>
{% endblock %}
